html {
  background-color: #eee;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
h2, h3 {
  font-family: 'Roboto Slab', serif;
  color: #323949;
}
header {
  display: block;
  background-color: #232730;
  margin-bottom: 40px;
  padding: 14px 0px 14px 0px;
  border-bottom: 2px solid #fff;
}
a {
  color: #323949;
}
a:hover {
  color: #000 !important;
}
.tagline {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 18px;
  margin-top: 11px;
}
.logo {
  display: inline-block;
  color: #fff;
  margin: 0;
  font-size: 34px;
  font-family: 'Roboto Slab', serif;
}
.logo .fa {
  position: relative;
  top: 7px;
  margin-right: 20px;
  color:#008bc7;
}
.logo-text {
  position: relative;
  top: -3px;
}
.fa {
  float: left;
  width: 26px;
  position: relative;
  top: 2px;
}
.search {
  margin-bottom: 40px;
}
.search-form {
  margin-top:-5px;
}
.search-input {
  padding: 10px;
  width: 310px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn-silverstripe {
  padding: 10px;
  background-color: #008bc7;
  color:#fff;
}
.btn-silverstripe:hover {
  background-color: #0096D6;
  color:#fff;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .search-input {
    width: 245px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .search-input {
    width: 296px;
  }
}
@media only screen and (max-width : 768px) {
  .tagline {
    display: none !important;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .logo .fa {
    float: none;
    margin-right: 10px;
    top: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  header {
    margin-bottom: 15px;
  }
  .search {
    margin-bottom: 20px;
  }

}
@media only screen and (max-width : 400px) {
  .search-input {
    width: 100%;
  }
  .btn-silverstripe {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .btn-silverstripe .fa {
    float: none;
  }
}
@media only screen and (max-width : 370px) {
  h2,h3 {
    text-align: center;
  }
}
